body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  padding: 0px;
}
.background-image {
  height: 50%;
  background-image: url(../images/donation1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.header {
  text-align: center;
  margin: auto;
  padding: 100px 300px;
}
.header h1 {
  font-size: 60px;
  color: #ffffff;
  font-weight: 900;
}
.header p {
  margin-top: 5px;
  color: #ffffff;
  text-align: justify;
}
.link-button {
  background-color: #ff6347;
  color: #ffffff;
  padding: 15px 40px;
  margin-top: 20px;
  border-radius: 5px;
  border: none;
}
.donate-today {
  text-align: center;
  margin: auto;
  padding: 50px 200px;
}
.donate-today h1 {
  font-size: 50px;
  font-weight: 900;
  margin-bottom: 10px;
}
.donate-today p {
  text-align: justify;
}
.flex-container {
  display: flex;
  justify-content: center;
}
.flex-container > div {
  box-shadow: 10px 10px 40px #808080;
  background-color: #f1f1f1;
  width: 100px;
  margin: 20px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  padding: 30px;
  font-weight: 900;
  border-radius: 5px;
}
.border-color {
  background-color: rgba(119, 52, 41, 0.2);
  border: tomato solid;
  color: tomato;
}
.input-donate {
  text-align: center;
  margin-top: 50px;
}
.other-amount {
  padding: 20px;
  font-size: 20px;
  text-align: center;
  margin-bottom: 5px;
  border: none;
}
.horijontal{
  width: 70%;
}
.our-donateion{
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 50px ;
}
.with-divide h2{
  font-size: 30px;
}
.with-divide{
  width: 23%;
  padding: 2%;
  margin-left: 2%;
}
.background1{
  background-color: rgba(128, 128, 128, 0.2);
  border-radius: 5px;
}
.background2{
  background-color: rgba(102, 42, 91, 0.2);
  border-radius: 5px;
}
.background3{
  background-color: rgba(216, 112, 147,0.2);
}
.Subscribe-button{
  text-align: center;
  background-color: rgba(161, 108, 150, 0.3);
  padding: 20px;
  background-size: cover;
}
.email{
  background-color: rgba(80, 78, 78, 0.3);
  color: #ffffff;
  padding: 15px 40px;
  border-radius: 5px;
  border: none;
}
.footer{
  font-family: 'Lobster', cursive;
  text-align: center;
  margin-top: 40px;
  background-color: black;
  color: white;
  padding: 20px;
}
.footer h2{
  color: #ff6347;
  font-size: 40px;
}
